@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}
img,
video,
svg {
  display: block;
  max-width: 100%;
}
:root {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #020202;
  background-color: #edebeb;
  --clr-main: #ff6614;
  --section-padding-inline: 80px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-height: 100vh;
}
.app {
  position: relative;
}
/* .section {
} */
.section.hero {
  display: flex;
  gap: 80px;
  padding-inline: var(--section-padding-inline);
  min-height: calc(100vh - 50px);
}
.section.hero > .left {
  flex: 5;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section.hero h1.main-heading {
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;
}
.section.hero h1.main-heading > div {
  overflow: hidden;
  display: inline-flex;
}
.section.hero h1.main-heading > div > div {
  display: inline;
  display: inline-flex;
}
.section.hero h1.main-heading > div > div.is-in-viewport {
  animation-duration: 0.5s !important;
}
.section.hero h1.main-heading > div:nth-child(1) > div.is-in-viewport {
  animation: slide-in-left both;
}
.section.hero h1.main-heading > div:nth-child(2) > div.is-in-viewport {
  animation: slide-in-bottom both;
  animation-delay: 0.5s;
}
.section.hero h1.main-heading > div:nth-child(3) > div.is-in-viewport {
  animation: slide-in-left both;
  animation-delay: 1s;
}
.section.hero h1.main-heading > div:nth-child(4) > div.is-in-viewport {
  animation: slide-in-top both;
  animation-delay: 1.5s;
}
.section.hero h1.main-heading > div:nth-child(5) > div.is-in-viewport {
  animation: slide-in-bottom both;
  animation-delay: 2s;
}
.section.hero h1.main-heading > div:nth-child(6) > div.is-in-viewport {
  animation: slide-in-right both;
  animation-delay: 2.5s;
}
.section.hero .arrow-down-container {
  overflow: hidden;
  margin-top: 150px;
  padding: 4px;
  cursor: pointer;
  border-radius: 50%;
  outline: 3px solid transparent;
  outline-offset: -5px;
}
.section.hero .arrow-down-container:hover {
  background-color: #ff661440;
  outline: 3px solid #ff661440;
  outline-offset: 4px;
}
.section.hero .arrow-down.is-in-viewport {
  animation: slide-in-top 0.5s both;
  animation-delay: 3s;
}
.section.hero > .right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section.hero > .right .img-container {
  overflow: hidden;
}
.section.hero > .right img {
  width: 100%;
  max-height: 75vh;
}
.section.hero > .right img.is-in-viewport {
  animation: slide-in-top 1s 3.5s both;
}
.section.hero .button-container {
  translate: 0 -50%;
  overflow: hidden;
}
.section.hero .button-container:hover {
  box-shadow: 0 5px 25px -10px #0008;
  scale: 1.1;
}
.section.hero button.button {
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background: var(--clr-main);
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  animation: slide-in-left 1s 4s both;
}
/* .section.hero > .right button.button .button-text {
} */

.section.header-container {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 9;
}
.section.header-container .header {
  background-color: var(--clr-main);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--section-padding-inline);
  color: #ffffff;
  animation: slide-in-bottom 1s 0.5s both;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .logo-text-container {
  overflow: hidden;
}
.header .logo-text {
  font-size: 32px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.header .logo-text.is-in-viewport {
  animation: slide-in-right 1s 1s both;
}
.header .logo-text::before,
.header .logo-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
}
.header .logo-text::before {
  left: 0;
  top: 4px;
}
.header .logo-text::after {
  right: 0;
  bottom: 6px;
}
.header .logo-text:hover::before,
.header .logo-text:hover::after {
  width: 100%;
}
.header .logo-text span {
  font-size: 15px;
}
.header .logo-tag-container {
  overflow: hidden;
}
.header .logo-tag {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
.header .logo-tag.is-in-viewport {
  animation: slide-in-left 1s 1.5s both;
}
/* .header > .right {
} */
.header .menu {
  display: flex;
  gap: 36px;
}
.header .menu-item-container {
  overflow: hidden;
}
.header .menu-item {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2px 8px;
  position: relative;
}
.header .menu-item::before,
.header .menu-item::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
}
.header .menu-item::before {
  top: 0;
  left: 0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.header .menu-item::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.header .menu-item:hover::before,
.header .menu-item:hover::after {
  content: "";
  width: 50%;
  height: 50%;
}
.header .menu-item-container:nth-child(1) .menu-item.is-in-viewport {
  animation: slide-in-right 1s 2s both;
}
.header .menu-item-container:nth-child(2) .menu-item.is-in-viewport {
  animation: slide-in-bottom 1s 2.5s both;
}
.header .menu-item-container:nth-child(3) .menu-item.is-in-viewport {
  animation: slide-in-left 1s 3s both;
}
.header .menu-item-container:nth-child(4) .menu-item.is-in-viewport {
  animation: slide-in-top 1s 3.5s both;
}
.header .menu-item-container:first-child {
  text-decoration: line-through;
}

.section.modern-homes {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 80px;
  padding-inline: var(--section-padding-inline);
  padding-bottom: 64px;
  color: #fff;
}
.modern-homes-bg-vid,
.modern-house-bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modern-homes-bg-vid {
  object-fit: cover;
  z-index: -2;
}
.modern-house-bg-overlay {
  background-color: #000;
  opacity: 0.2;
  z-index: -1;
}
.section.modern-homes .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section.modern-homes .button-container {
  overflow: hidden;
}
.section.modern-homes .button-container:hover {
  box-shadow: 0 5px 25px -10px #0008;
  scale: 1.1;
}
.section.modern-homes .button {
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background: var(--clr-main);
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}
.section.modern-homes .button.is-in-viewport {
  animation: slide-in-left 1s 0.5s both;
}
.section.modern-homes h2.heading {
  margin-top: 20px;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1.6px;
  max-width: 30vw;
}
.section.modern-homes h2.heading > div {
  display: inline-flex;
  overflow: hidden;
}
/* .section.modern-homes h2.heading > div > div {
} */
.section.modern-homes h2.heading > div:nth-child(1) > div.is-in-viewport {
  animation: slide-in-bottom 1s 1s both;
}
.section.modern-homes h2.heading > div:nth-child(2) > div.is-in-viewport {
  animation: slide-in-bottom 1s 2s both;
}
.section.modern-homes h2.heading > div:nth-child(3) > div.is-in-viewport {
  animation: slide-in-top 1s 1.5s both;
}
.section.modern-homes h2.heading > div:nth-child(4) > div.is-in-viewport {
  animation: slide-in-top 1s 2.5s both;
}
.section.modern-homes .right {
  display: flex;
  gap: 64px;
}
.section.modern-homes .info-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section.modern-homes .heading-container {
  overflow: hidden;
}
.section.modern-homes h3.heading {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.6px;
}
.section.modern-homes .increment-text {
  display: flex;
}
.section.modern-homes .info-text-container {
  overflow: hidden;
}
.section.modern-homes .info-text {
  font-size: 14.4px;
  line-height: 26px;
  font-weight: 300;
}
.section.modern-homes .info-box:nth-child(1) h3.heading.is-in-viewport {
  animation: slide-in-bottom 1s 3s both;
}
.section.modern-homes .info-box:nth-child(2) h3.heading.is-in-viewport {
  animation: slide-in-bottom 1s 4s both;
}
.section.modern-homes .info-box:nth-child(3) h3.heading.is-in-viewport {
  animation: slide-in-bottom 1s 5s both;
}
.section.modern-homes .info-box:nth-child(1) .info-text.is-in-viewport {
  animation: slide-in-top 1s 3.5s both;
}
.section.modern-homes .info-box:nth-child(2) .info-text.is-in-viewport {
  animation: slide-in-top 1s 4.5s both;
}
.section.modern-homes .info-box:nth-child(3) .info-text.is-in-viewport {
  animation: slide-in-top 1s 5.5s both;
}

.section.properties {
  margin-block: 100px;
}
.section.properties .top {
  display: flex;
  padding-inline: var(--section-padding-inline);
  padding-inline-start: calc(3 * var(--section-padding-inline));
  justify-content: space-between;
}
/* .section.properties .left {
} */
.section.properties h1.heading {
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;
  width: min-content;
}
.section.properties h1.heading > div {
  overflow: hidden;
  display: inline-flex;
}
.section.properties h1.heading > div > div {
  display: inline;
  display: inline-flex;
}
.section.properties h1.heading > div > div.is-in-viewport {
  animation-duration: 0.5s !important;
}
.section.properties h1.heading > div:nth-child(1) > div.is-in-viewport {
  animation: slide-in-left both;
  animation-delay: 0.5s;
}
.section.properties h1.heading > div:nth-child(2) > div.is-in-viewport {
  animation: slide-in-bottom both;
  animation-delay: 1s;
}
.section.properties .center.tabs-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}
.section.properties .tab-title-container {
  overflow: hidden;
}
.section.properties .tab-title {
  font-size: 18px;
  line-height: 29px;
  color: #020202;
  cursor: pointer;
}
.section.properties .tab-title-container:nth-child(1) > .tab-title.is-in-viewport {
  animation: slide-in-left 1s 1.5s both;
}
.section.properties .tab-title-container:nth-child(2) > .tab-title.is-in-viewport {
  animation: slide-in-left 1s 2s both;
}
.section.properties .tab-title-container:nth-child(3) > .tab-title.is-in-viewport {
  animation: slide-in-left 1s 2.5s both;
}
.section.properties .tab-title-container:nth-child(4) > .tab-title.is-in-viewport {
  animation: slide-in-left 1s 3s both;
}
.section.properties .tab-title-container:nth-child(5) > .tab-title.is-in-viewport {
  animation: slide-in-left 1s 3.5s both;
}
.section.properties .tab-title.active {
  position: relative;
}
.section.properties .tab-title.active::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #020202;
}
.section.properties .tabs-header .tab-indicator-container {
  overflow: hidden;
  position: absolute;
  top: 8px;
  /* top: 54px; */
  /* top: 100px; */
  /* top: 144px; */
  /* top: 190px; */
  left: -16px;
}
.section.properties .tabs-header .tab-indicator {
  --s: 8px;
  width: var(--s);
  height: var(--s);
  background-color: var(--clr-main);
  animation: slide-in-right 1s 4s both;
}
/* .section.properties .right {
} */
.section.properties .button-container {
  overflow: hidden;
}
.section.properties .button-container:hover {
  box-shadow: 0 5px 25px -10px #0008;
  scale: 1.1;
}
.section.properties button.button {
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  background: var(--clr-main);
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}
.section.properties button.button.is-in-viewport {
  animation: slide-in-right 1s 4.5s both;
}
.section.properties > .bottom {
  padding-inline: var(--section-padding-inline);
  margin-top: 24px;
  min-height: 450px;
}
.section.properties .tab-content {
  gap: 48px;
  display: none;
}
.section.properties .tab-content.active {
  display: flex;
}
.section.properties .tab-content .left {
  flex: 7;
  display: flex;
}
.section.properties .tab-content .property-img-container {
  overflow: hidden;
  width: 100%;
}
.section.properties .tab-content img.property-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: 0 25%;
}
.section.properties .tab-content img.property-img.is-in-viewport {
  animation: slide-in-right 1s 0.5s both;
}
.section.properties .tab-content .right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section.properties .tab-content .year-container {
  overflow: hidden;
}
.section.properties .tab-content .year {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  color: #020202;
}
.section.properties .tab-content .year.is-in-viewport {
  animation: slide-in-top 1s 1s both;
}
/* .section.properties .tab-content .info {} */
.section.properties .tab-content .name-container {
  overflow: hidden;
}
.section.properties .tab-content .name {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.6px;
  color: #020202;
}
.section.properties .tab-content .name.is-in-viewport {
  animation: slide-in-bottom 1s 1.5s both;
}
.section.properties .tab-content .description-container {
  overflow: hidden;
}
.section.properties .tab-content .description {
  margin-top: 24px;
  font-size: 18px;
  line-height: 29px;
  color: #020202;
}
.section.properties .tab-content .description.is-in-viewport {
  animation: slide-in-left 1s 2s both;
}
.section.properties .tab-content .info-row {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section.properties .tab-content .info-item-container {
  overflow: hidden;
}
.section.properties .tab-content .info-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #020202;
}
.section.properties .tab-content .info-item.is-in-viewport {
  animation: slide-in-bottom 1s 2.5s both;
}
.section.properties .tab-content .info-row .divider {
  width: 1px;
  height: 35px;
  background-color: #000;
  opacity: 0.25;
  transform: skew(-15deg);
}
.section.properties .tab-content .info-item sup {
  font-size: 75%;
}
.section.properties .tab-content .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}
.section.properties .tab-content .price-container {
  overflow: hidden;
}
.section.properties .tab-content .price {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #020202;
}
.section.properties .tab-content .price.is-in-viewport {
  animation: slide-in-left 1s 3s both;
}
/* .section.properties .tab-content button.button-container {
  overflow: hidden;
}
.section.properties .tab-content button.button {
  border: 0;
  padding: 6px 10px;
  cursor: pointer;
  background: var(--clr-main);
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
} */
.section.properties .tab-content button.button.is-in-viewport {
  animation: slide-in-bottom 1s 3.5s both;
}

.section.mapped {
  padding-inline: var(--section-padding-inline);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.section.mapped .heading-container {
  overflow: hidden;
}
.section.mapped h1.heading {
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;
  max-width: 630px;
}
.section.mapped h1.heading > div {
  overflow: hidden;
  display: inline-flex;
}
.section.mapped h1.heading > div > div {
  display: inline;
  display: inline-flex;
}
.section.mapped h1.heading > div > div.is-in-viewport {
  animation-duration: 0.5s !important;
}
.section.mapped h1.heading > div:nth-child(1) > div.is-in-viewport {
  animation: slide-in-left both;
  animation-delay: 0.5s;
}
.section.mapped h1.heading > div:nth-child(2) > div.is-in-viewport {
  animation: slide-in-top both;
  animation-delay: 1s;
}
.section.mapped h1.heading > div:nth-child(3) > div.is-in-viewport {
  animation: slide-in-right both;
  animation-delay: 1.5s;
}
.section.mapped h1.heading > div:nth-child(4) > div.is-in-viewport {
  animation: slide-in-bottom both;
  animation-delay: 2s;
}
.section.mapped h1.heading > div:nth-child(5) > div.is-in-viewport {
  animation: slide-in-left both;
  animation-delay: 2.5s;
}
.section.mapped h1.heading > div:nth-child(6) > div.is-in-viewport {
  animation: slide-in-top both;
  animation-delay: 3s;
}

.section.mapped {
  overflow: hidden;
  position: relative;
}
.section.mapped .splide__track {
  margin-top: 48px;
  /* overflow-x: visible; */
}
.section.mapped .splide__list {
  /* display: flex;
  gap: 24px;
  overflow-x: auto;
  position: relative; */
  /* width: 630px;
  height: 630px; */
}
.section.mapped .splide__slide {
  /* flex: 1; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.section.mapped .slide-img-container {
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.section.mapped img.slide-img {
  object-fit: cover;
  position: relative;
  z-index: -3;
}
.section.mapped .slide-img-overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.2;
  z-index: -2;
}
.section.mapped .heading-container {
  overflow: hidden;
}
.section.mapped h2.heading {
  font-weight: 400;
  font-size: 60px;
  line-height: -2px;
  letter-spacing: -1.9px;
  color: #ffffff;
}
.section.mapped h2.heading.is-in-viewport {
  animation: slide-in-bottom 1s 0.5s both;
}
.section.mapped .button-container {
  overflow: hidden;
}
.section.mapped button.button {
  border: 0;
  padding: 6px 10px;
  cursor: pointer;
  background: var(--clr-main);
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}
.section.mapped .button-container:hover {
  box-shadow: 0 5px 25px -10px #0008;
  scale: 1.1;
}
.section.mapped button.button.is-in-viewport {
  animation: slide-in-top 1s 1s both;
}
.splide__arrow--prev,
.splide__arrow--next {
  transition: 0.25s ease-in-out;
  top: 55%;
}
.splide__arrow--prev {
  left: 65vw;
}
.splide__arrow--next {
  right: 65vw;
}

.animate {
  animation-timing-function: linear(
    0,
    0.003 0.4%,
    0.012 0.9%,
    0.026 1.4%,
    0.049 2%,
    0.109 3.3%,
    0.311 7.2%,
    0.409 9.3%,
    0.463 10.6%,
    0.513 11.9%,
    0.562 13.3%,
    0.606 14.7%,
    0.651 16.3%,
    0.691 17.9%,
    0.729 19.6%,
    0.762 21.3%,
    0.792 23.1%,
    0.82 25%,
    0.846 27%,
    0.868 29.1%,
    0.889 31.3%,
    0.907 33.6%,
    0.923 36.1%,
    0.937 38.7%,
    0.949 41.5%,
    0.959 44.5%,
    0.968 47.8%,
    0.976 51.3%,
    0.987 59.1%,
    0.994 68.8%,
    0.998 81.4%,
    1
  ) !important;
}
@keyframes slide-in-left {
  0% {
    translate: -100% 0;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes slide-in-top {
  0% {
    translate: 0 -100%;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes slide-in-right {
  0% {
    translate: 100% 0;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes slide-in-bottom {
  0% {
    translate: 0 100%;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes width-100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.transiton,
.transiton::before,
.transiton::after {
  transition: 1s
    linear(
      0,
      0.001 0.3%,
      0.007 0.7%,
      0.03 1.5%,
      0.067 2.3%,
      0.121 3.2%,
      0.239 4.8%,
      0.639 9.7%,
      0.757 11.4%,
      0.851 13%,
      0.93 14.7%,
      0.99 16.4%,
      1.034 18.2%,
      1.051 19.2%,
      1.063 20.2%,
      1.071 21.2%,
      1.076 22.3%,
      1.077 23.5%,
      1.075 24.8%,
      1.065 27.1%,
      1.029 32.8%,
      1.013 35.9%,
      1.001 39.5%,
      0.995 43.4%,
      0.994 48.1%,
      1 65.9%,
      1
    );
}
